<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou a troca de senha da sua conta. Você pode alterar sua senha clicando no link abaixo.</p>

<p><%= link_to 'Troque senha', edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p>Se você nāo fez esta solicitaçāo, ignore esta mensagem.</p>
<p>A sua senha só será alterada se você clicar no link acima e escolher uma nova senha.</p>
